<html>
  <head>
    <title>Stochastic Mario!</title>
    <script type="application/javascript" src="app/assets/javascripts/bundle.js"></script>
    <script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
    <script src="https://code.createjs.com/preloadjs-0.6.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/canvas.css"/>
  </head>

  <body class="body">
    <% @high_scores.sort! { |el1, el2| el2.score <=> el1.score } %>
    <% @high_scores = [{ id: 1, initials: "keith", score: 1024 }]%>
    <div id="screen-container" style="position: relative;">
      <div class="title">
        <h1> StochasticSuperMario </h1>
      </div>
      <div class="directions">
        <h1>Directions</h1>
        <ul>
          <li>
            Use A and D, or the arrow keys to move laterally.
          </li>
          <li>
             W, Up-arrow, or space bar to jump.
           </li>
           <li>
             Points are rewarded for jumping on a koopa, goomba, or collecting coins (coming soon).
           </li>
           <li>
             Getting hit by enemies will result in losing a life!
           </li>
        </ul>
      </div>
      <div id="canvas-wrapper">
        <div id="menu" class="hidden">
          <h2>
            Welcome To Stochastic Super Mario!
          </h2>
          <p>
            A retro styled super mario game with a twist - the level will never end. As you venture past the obstacles and enemies, your future adventure will continue to randomly generate. Thus, every time you play, you can expect something different! Get started and try to beat one of our high scores!
          </p>
          <button id="start-game">
            start game!
          </button>
        </div>
        <div id="high-score" class="menu">
          <h2>
            You beat one of our high scores! Please enter your initials.
          </h2>
          <input type="text" class="initials-input">
          <button id="start-game">
            submit!
          </button>
        </div>
        <canvas id="background-canvas"></canvas>
        <p id="text-canvas"></p>
        <canvas id="objects-canvas"></canvas>
        <canvas id="characters-canvas"></canvas>
      </div>
      <div class= "high-scores">
        <h1>
          High Scores
        </h1>
        <br>
        <ul id="high-scores" data-length="<%= @high_scores.length%>">
          <% @high_scores.each_with_index do |score, idx| %>
          <li data-id="<%= score[:id] %>"><%= idx + 1 %>. <%= score[:initials] %>: <%= score[:score] %></li>
          <% end %>
        </ul>
      </div>
      <div class="developer-information">
        <h3> A project by Keith Thompson </h3>
        <ul>
          <li> Checkout the Git repository! <a href="https://www.github.com/keithm-thompson/StochasticSuperMario" target="_blank"> StochasticSuperMario </a></li>
          <li> View my website! <a href="https://keithmthompson.com/" target="_blank"> www.keithmthompson.com </a> </li>
        </ul>
      </div>
    <div>
  </body>
</html>
